_site/
.sass-cache/
.vs
.vscode
.jekyll-metadata
**/audio/
**/pdf
**/audio/
**/video/
**/*.mp4
**/*.cmproj
**/*.wav
**/*.mp3
**/*.snagproj
**/*.gif
**/*.bmp
**/*.svg
**/*.ai
**/*.psd
**/*.rtf
**/*.docx
**/*.docm
**/*.doc
**/*.swf
**/*.tif
**/*.tiff
**/*.pdf
**/*.ppt
**/*.pptx
**/*.pot
**/*.xlsx
**/*.exe
**/*.oog
**/*.tar.gz
**/*.tar
**/*.rar
**/*.zip
**/*.jar
**/*.war
**/.DS_Store
**/*.idea
.DS_Store
reindex.sh