---
layout: default
title: Blog
---
<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.tags %} | 
    {% for tag in post.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
    {% endif %}

    <article>
      {{ post.excerpt | truncatewords:50 | markdownify  }}
    </article>
    <!--<div class="post-bottom-row">
    <div class="post-category">
      {{ post.category }}
    </div>-->
    <!--<div class="post-more">
      {% if site.disqus_short_name %}
      <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"> <i class="fa fa-comments" aria-hidden="true"></i>Comment</a>&nbsp;
      {% endif %}
      <a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Read more</a>
    </div>-->
    <!--</div>-->
  <!--</div>
  {% endfor %}
</div>-->

<div id="RecentArticle">
  
  {% for post in paginator.posts %}
  
    <div class="section sectionMain RecentArticle" id="{{ post.title }}"> <!-- sectionMain START -->
        <div class="primaryContent ">   <!-- primaryContent START -->
          <div class="subHeading"><!-- subHeading START -->
  
                  <div style="float: right; white-space: nowrap;">
  
                  </div>
  
                  <h2>
              <a href="{{ site.baseurl }}{{ post.url }}" class="ArticleTitle"  itemprop="name"> {{ post.title }}</a>
            </h2>
              </div> <!-- subHeading EnD -->
  
              <div class="ArticleDate secondaryContent"><!-- ArticleDate START -->
  
                      <div class="ArticleMonth heading">
                         <!--{!!$article->updated_at->format('M') !!}-->
                      </div>
  
                      <div class="ArticleDay">
                        <!--  {!!$article->updated_at->format('d') !!}-->
                      </div>
                   <div class="ArticleYear">
                        <!--  {!!$article->updated_at->format('Y') !!}-->
                      </div>
              </div> <!-- ArticleDate EnD -->
  
              <div class="messageContent baseHtml"><!-- Message Content START -->
  
                  <div class="postedBy">
  
                      <span class="posted iconKey">by
                <a href="https://github.com/ganapathichidambaram" class="username" itemprop="author" >{{ post.author }}</a> at
                <a href="{{ site.baseurl }}{{ post.url }}" itemprop="datePublished"> {{ post.date | date_to_string }}</a>
                      </span>
            </div>
  
                  <div class="ArticleText" itemprop="articleBody">
                      {{ post.excerpt | truncatewords:150 | markdownify  }}
                  </b></i></strong>
      </div>
  
                  <div class="clearFix">
  
                  </div>
              </div><!-- Message Content EnD -->
  
              <div class="sectionFooter"><!-- Section Footer START -->
  
                  <div class="categories" itemprop="articleSection">
  
                      <ul>
                          <li>
                              <a href="{{ site.baseurl }}/category/#{{ post.category | slugify }}" class="button">{{ post.category }}</a>
                          </li>
                      </ul>
          </div>
  
                  <div class="continue">
  
                      <a class="iconKey button ajax-link" href="{{ site.baseurl }}{{ post.url }}">         Continue reading...       </a>
          </div>
              </div><!-- Section Footer END -->
          </div>   <!-- primaryContent END -->
      </div>    <!-- sectionMain END -->
  
      {% endfor %}
  
  </div>



<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

