<ul id="mytechsidebar" class="nav">
    {% if page.jtype %}

    {% if page.jtype == "notes_java" %}
    {% assign sidebarTitle = "My Java notes" %}
    {% assign sidebar = site.data.sidebar_java.entries %}

    {% elsif page.jtype == "notes_javascript" %}
    {% assign sidebarTitle = "JavaScript notes" %}
    {% assign sidebar = site.data.sidebar_javascript.entries %}


    {% endif %}

    <h3>{{sidebarTitle}}</h3>
    <ul id="mysidebar" class="nav">
        {% for entry in sidebar %}
        {% for subcategory in entry.subcategories %}
        <li class="subcatTitle">
            <ul>
                {% for item in subcategory.items %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank">{{subcategory.title}}</a></li>
                {% elsif page.url == item.url %}
                <li class="active"><a href="{{item.url | prepend: site.baseurl}}">{{item.weight}} {{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | prepend: site.baseurl}}">{{item.weight}} {{item.title}}</a></li>
                {% endif %}
                {% for thirdlevel in item.thirdlevel %}
                <li class="thirdlevel">
                    <a href="#">{{ thirdlevel.title }}</a>
                    <ul>
                        {% for deeplevel in thirdlevel.thirdlevelitems %}
                        {% if deeplevel.external_url %}
                        <li><a href="{{deeplevel.external_url}}" target="_blank">{{deeplevel.title}}</a></li>
                        {% elsif page.url == deeplevel.url %}
                        <li class="active"><a href="{{deeplevel.url | prepend: site.baseurl}}">{{deeplevel.title}}</a></li>
                        {% else %}
                        <li><a href="{{deeplevel.url | prepend: site.baseurl}}">{{deeplevel.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endfor %}
            {% endfor %}
        </li>
    </ul>
    {% endif %}
