<!--<script type="text/javascript">-->
<script type="module">
/*if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[TechnoBureau] An active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("/serviceworker.js", {
        scope: "./"
      })
      .then(function (reg) {
        console.log("[TechnoBureau] Service worker has been registered for scope: " + reg.scope);
      });
  }
}*/
import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

const el = document.createElement('pwa-update');
document.body.appendChild(el);
</script>