<script type="text/javascript">
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[TechnoBureau] An active service worker found, no need to register");
  } else {
    window.addEventListener('load', function() {
    navigator.serviceWorker.register('/pwabuilder-sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
    });
  }
}
</script>