<!-- social_media_icons.html -->
<div class="socialMediaButtons irbw">
    <a href="https://twitter.com/ganapathi_raja">
        <div class="stwitter"></div>
    </a>
    <a href="https://www.facebook.com/ganapathichidambaram">
    <div class="sfacebook"></div>
</a>

    <a href="https://www.linkedin.com/in/ganapathichidambaram">
        <div class="slinkedin"></div>
    </a>

    <a href="https://github.com/ganapathichidambaram/">
        <div class="sgithub"></div>
    </a>
</div>

<!-- end social_media_icons.html -->
