<!-- social_media_icons.html -->
<div class="socialMediaButtons irbw">
    <a href="https://twitter.com/ganapathi_raja" aria-label="Twitter">
        <div class="stwitter"></div>
    </a>
    <a href="https://www.facebook.com/ganapathichidambaram" aria-label="Facebook">
    <div class="sfacebook"></div>
</a>

    <a href="https://www.linkedin.com/in/ganapathichidambaram" aria-label="LinkedIn">
        <div class="slinkedin"></div>
    </a>

    <a href="https://github.com/ganapathichidambaram/" aria-label="Github">
        <div class="sgithub"></div>
    </a>
</div>

<!-- end social_media_icons.html -->
