.post {
  margin-bottom: 4em;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  @media (min-width: 38rem) {
    font-size: .8rem;

    h1 { font-size: 1.2rem; }
    h2 { 
      margin: 2em 0 1em 0;
      font-size: 1.0rem; 
    }
    h3, h4, h5, h6 {
      margin: 2em 0 1em 0;
      font-size: 0.8rem;
    }
  }

  .post-title {
    color: $theme-color;
    margin-top: 0;
  }

  .post-date {
    display: inline-block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: $post-date-color;
  }

  .post-more {
    margin-top: .5em;
    text-align: right;
    .fa{
      margin-right: .2em;
    }
  }

  article {
    line-height: 1.4rem;
  }
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $lightgrey;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: $theme-color;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}



/* Recent Article*/

.baseHtml ol,
.baseHtml ul,
.baseHtml dl {
    margin-left: 3em;
    margin-right: 0;
}

.baseHtml blockquote,
.baseHtml ul,
.baseHtml ol,
.baseHtml dl {
    margin: 1em;
}

.sectionMain {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    border: 1px solid rgb(199, 199, 199);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/*.RecentArticle .subHeading {
    margin: -10px -10px 10px;
}*/

.subHeading {
    font-size: 14px;
    color: rgb(120, 120, 120);
    text-decoration: none;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    /*margin: 3px auto 0;*/
    border-bottom: 1px solid rgb(182, 182, 182);
}

.RecentArticle .subHeading a {
    color: rgb(5, 5, 5);
    font-weight: bold;
}

.RecentArticle .subHeading h2 {
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RecentArticle .messageUserBlock {
    float: right;
    margin-left: 10px;
}

.RecentArticle .ArticleDate {
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 0px 10px 5px;
    font-weight: bold;
    text-align: center;
}

.RecentArticle .ArticleDate .ArticleMonth {
    padding: 10px 0px 5px !important;
    margin: 0px -10px 5px !important;
    text-transform: uppercase;
}

.RecentArticle .ArticleDate .ArticleDay {
    font-size: 26px;
}

.RecentArticle .leftDate .ArticleDate {
    margin-left: -45px;
}

.RecentArticle .leftDate .ArticleText {
    margin-left: 25px;
}

.RecentArticle .ArticleDate .ArticleYear {
    font-size: 16px;
    margin: 0px -10px -10px;
    padding: 3px;
}

.RecentArticle .messageContent {
    font-size: 15px;
    line-height: 1.4;
    margin-left: 10px;
    text-align: justified;
}

.RecentArticle .messageContent .postedBy {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed rgb(120, 120, 120);
}

.RecentArticle .messageContent .username {
    font-weight: bold;
}

.RecentArticle .messageContent .comments {
    float: right;
    font-weight: bold;
}

.RecentArticle .messageContent .clearFix {
    clear: right;
}

.RecentArticle .iconKey div {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
}

.RecentArticle .iconKey .sticky {
    background-position: 0px -16px;
}

.RecentArticle .iconKey .redirect {
    background-position: -48px -16px;
}

.RecentArticle .iconKey .new {
    background-position: -64px -16px;
}

.RecentArticle .iconKey a {}

.RecentArticle .sectionFooter {
/*    margin: 10px -10px -10px;*/
    text-align: right;
    position: relative;
}

.sectionFooter {
    zoom: 1;
    font-size: 14px;
    color: #707070;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);
    line-height: 16px;
}

.RecentArticle .sectionFooter .continue {
    font-size: 12px;
}

.RecentArticle .sectionFooter .continue .redirect {
    margin: 3px 4px 0px 0px;
}

.RecentArticle .sectionFooter .categories {
    float: left;
}

.RecentArticle .sectionFooter .categories li {
    display: inline;
}

.RecentArticle .sectionFooter .sharePage {
    position: absolute;
}

.RecentArticle .sectionFooter .shareControl {
    margin-top: 6px !important;
}

.titleBar h1 {
    font-size: 18pt;
    font-family: 'Exo', sans-serif;
    color: rgb(0, 0, 0);
    overflow: hidden;
    zoom: 1;
    text-transform: uppercase;
    font-weight: Bold;
    margin-bottom: 10px;
}

.messageArticle {
    padding-top: 10px;
}

.SharePageControl {
    float: right;
    margin-top: -30px;
}


a.button {
  display: inline-block;
  color: rgb(10, 10, 10);
}

a:link,
a:visited {
  text-decoration: none;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgb(10, 10, 10);
  background-color: rgb(213, 213, 213);
  padding: 0px 6px;
  border-width: 0;
  border-top-color: rgb(255, 255, 255);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  outline: none;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(0, 0, 0, .1);
  -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-appearance: none;
  transition: linear background-color .1s, linear color .1s;
  height: 30px;
}

.button:hover {
  background: #ec1e2c;
}




