---
layout: default
comments: true
---



<h1>{{ page.title }}</h1>
{% if page.subtitle %}<div class="subheading">{{page.subtitle}}</div>{% endif %}
<p class="page-meta">
  {% unless page.byline == false %}
<i> by {{page.author}} on {{ page.date | date: "%b %-d, %Y" }} &#8226; <a href="{{ post.url }}#commento"></a></i><br/>
  {% endunless %}
{% if page.categories %}
 categories: {% for cat in page.categories %}
<a href="{{ "/tech/" | prepend: site.baseurl | append: cat }}">{{cat}}</a>{% unless forloop.last %} &bull; {% endunless%}
{% endfor %}
{% endif %}


{% if page.description %}<div class="summary">{{page.description}}</div> {% endif %}

{% include toc.html %}

{{ content }}

{% if page.transcript %}
<script src="/js/jquery.collapse.js"></script>
<div id="podcastTranscript" data-collapse>
<h3 id="transcript" class="transcript">Transcript</h3>
<div class="podcastTranscript">
<p><i>The following is a machine-generated transcript of the podcast. Expect typos, misspellings, and other inaccuracies from the actual speech.</i></p>
{% include {{page.transcript}} %}
</div>
</div>
{% endif %}
{% comment %}
<div style="max-width:300px">

    {% include tinyletter.html %}
</div>
{% endcomment %}

<hr/>


{% unless page.bio == false %}
{% include mybio.html %}
{% endunless %}


{% include disqus.html %}
{% include footer.html %}